@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:default;
    font-family: "Anton", sans-serif, 
    sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background:transparent;
    width:12px;
}
::-webkit-scrollbar-thumb{ 
    border-radius: 8px;
    background: #fbca1f;
    border: 2px solid #000;
}
body{
    position: relative;
    height: 600vh;
    width: 100%;
    background: #000;
}
li{
    margin: 5px 10px; 
    cursor: pointer;
}
li:hover{
    color:#fbca1f;
}
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    border:3px solid #fff;
    padding: 20px;
}
.html{
    background: #ff5b24;
    transform: translate(-50%, -50%) rotate(20deg) ;
    z-index: 10;
}
.css{
    background: #4063ff;
    transform: translate(-50%, -50%) rotate(30deg) ;
    z-index: 9;
}
.javascript{
    background: #f3cd23;
    transform: translate(-50%, -50%) rotate(40deg) ;
    z-index: 8;
}
h2{
    font-size: 40px;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 20px;
}
h3{margin: 0 15px  0;}
a{
    margin: 8px;
    display: flex;
    font-size: 24px;
}
a:hover .type, a:hover h3{
    color: #000;
    cursor: pointer;
    font-weight: 900;
}
.type{
    padding: 0 8px;
    border-radius: 5px;
}
footer{
    padding: 15px 0;
}