@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:default;
    font-family: "Anton", sans-serif, 
    sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background:transparent;
    width:12px;
}
::-webkit-scrollbar-thumb{ 
    border-radius: 8px;
    background: #fbca1f;
    border: 2px solid #000;
}
body{
    position: relative;
    height: 600vh;
    width: 100%;
    background: #000;
}
li{
    margin: 5px 10px; 
    cursor: pointer;
}
li:hover{
    color:#fbca1f;
}